{% extends 'base.html' %}
{% block content %}
<style>
    /* Aplicando estilos do Bootstrap para garantir a consistência nos campos do formulário */
    form input[type="text"],
    form input[type="password"],
    form input[type="email"],
    form input[type="number"],
    form input[type="url"],
    form input[type="tel"],
    form input[type="date"],
    form input[type="month"],
    form input[type="week"],
    form input[type="time"],
    form input[type="datetime"],
    form input[type="datetime-local"],
    form input[type="search"],
    form select,
    form textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
<div class="row justify-content-center align-items-center min-vh-100 bg-light">
    <div class="col-12 col-md-8 col-lg-5">
        <div class="card shadow border-0 p-4">
            <h2 class="text-center mb-4 fw-bold text-primary">Login</h2>
            <form method="post" novalidate autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3 text-start">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary py-2 fw-bold" style="width: 50%;">Entrar</button>
                </div>
            </form>
            <div class="mt-4 text-center">
                <span class="text-muted">Não tem conta?</span> <a href="{% url 'tasks:cadastro' %}" class="fw-semibold">Registre-se</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

